{% extends "main/base.html" %}
{% load static %}

{% block title %} View {% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'main/css/view.css' %}" />
{% endblock %}

{% block content %}


<ul class="view_list"> 
  <li>
      <a href="{% url 'specific_view' %}" class="btn"> Businesses</a>
  </li>

   {% for model_name, model_object in independent_models.items %}
      <li>
         <a href="{% url 'independent_view' ct=model_object %}" class="btn">{{model_name}}</a>
      </li>
   {% endfor %}
</ul>

{% endblock %}
