{% extends "main/base.html" %}
{% load static %}

{% block title %} View {% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}" />
{% endblock %}

{% block content %}

<h1> View </h1>

<ul class="view_list"> 
  <li>
      <a href="{% url 'specific_view' %}" class="btn"> Business Name</a>
  </li>
  <li>
      <a href="{% url 'specific_view' %}" class="btn">Address</a>
  </li>
  <li>
      <a href="{% url 'specific_view' %}" class="btn">City</a>
  </li>
  <li>
      <a href="{% url 'specific_view' %}" class="btn">Supplier</a>
  </li>
</ul>

{% endblock %}
