{% extends "main/base.html" %}

{% block title %} Specific View {% endblock %}>

{% block page_css %} 
   <link rel="stylesheet" href="{% static 'css/specific_view.css' %}">

{% endblock %}

{% block content %}

<h1> Specific View </h1>

<form action="{% url 'search_results' %}" method="get">
   <input type="text" name="q" value="{{ query }}" placeholder="Search....">
   <button type="submit">Search</button>
</form>

    {% if businesses %}
        <ul>
            {% for business in businesses %}
                <li><strong>Address:</strong> {{ business.address }}
                    <br><em>(Name: {{ business.name }})</em>
                </li>
            {% endfor %}
        </ul>
    {% elif query %}
        <p>No businesses found for "{{ query }}".</p>
    {% endif %}

{% endblock %}
