{% extends "main/base.html" %}
{% load static %}
{% block title %} Specific View {% endblock %}>

{% block page_css %} 
   <link rel="stylesheet" href="{% static 'css/specific_view.css' %}">

{% endblock %}

{% block content %}

<h1> Specific View </h1>

<form action="{% url 'specific_view' param=param %}" method="get">
   <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Search....">
   <button type="submit">Search</button>
</form>

    {% if results %}
        <ul>
            {% for result in results %}
                <li>
                    <br><em>Result</em>
                </li>
            {% endfor %}
        </ul>
    {% elif query %}
        <p>No businesses found for "{{ query }}".</p>
    {% endif %}

{% endblock %}
