{% extends "main/base.html" %}
{% load static %}

{% block title %} Dealer Generate {% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/dealer_generate.css' %}" />
{% endblock %}

{% block content %}

<h1>Dealer PDFs</h1>
<a href="{% url 'nursery_generate' %}" id="nursery-btn" class="btn">Generate Nursery PDFs</a>

<div class="datatable-container">
<table class="datatable">
  <thead>
    <tr>
      <th>PDF</th>
      <th>Business</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    {% for b in businesses %}
      <tr>
        <td>
          <a class="btn" href="{% url 'download_dealer_pdf' b.business_id %}">
            Download PDF
          </a>
        </td>
        <td>{{ b.business_name }}</td>
        <td>{{ b.mo_city }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="3">No businesses found.</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
