{% extends "main/base.html" %}
{% load static %}

{% block title %} Add Business {% endblock %}

{% block page_css %}
    {{ form.media.css }}
    {{ location_formset.media.css }}
{% endblock %}


{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha26-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<form method="post">
    {% csrf_token %}
    
    <h2>Location: {{ location.address }}</h2>
    {{ location_form.as_p }}
    
    <hr>
    
    <h2>Licenses</h2>
    {{ license_formset.management_form }}
    {% for form in license_formset %}
        {{ form.as_p }}
        <hr>
    {% endfor %}
    
    {% if next_location_pk %}
        <button type="submit" name="save_and_next" value="1">
            Save & Next Location
        </button>
        <button type="submit" name="save_and_finish">
            Save & Finish
        </button>
    {% else %}
        <button type="submit" name="save_and_finish">
            Save & Finish
        </button>
    {% endif %}
    
</form>

{% endblock %}

{% block page_js %}
    <script>
    document.getElementById('add-location-btn').addEventListener('click', function() {
        let formContainer = document.getElementById('location-forms-container');
        let totalFormsInput = document.getElementById('id_locations_set-TOTAL_FORMS');
        let currentFormCount = parseInt(totalFormsInput.value);

        let template = document.getElementById('empty-location-form').innerHTML;
        let newFormHTML = template.replace(/__prefix__/g, currentFormCount);
        
        let newFormNode = document.createElement('div');
        newFormNode.innerHTML = newFormHTML;
        formContainer.appendChild(newFormNode.firstElementChild);
        
        totalFormsInput.value = currentFormCount + 1;
    });

    document.getElementById('remove-location-btn').addEventListener('click', function() {
        let formContainer = document.getElementById('location-forms-container');
        let totalFormsInput = document.getElementById('id_locations_set-TOTAL_FORMS');
        let currentFormCount = parseInt(totalFormsInput.value);

        // Only remove if there is more than one form
        if (currentFormCount > 1) {
            // Find the last form in the container and remove it
            formContainer.removeChild(formContainer.lastElementChild);

            // Decrement the total form count
            totalFormsInput.value = currentFormCount - 1;
        }
    });
    </script>
{% endblock %}
