{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/add_business.css' %}" />

{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="form-container">
    
    <div class="tab-header">
        <a class="tab-link {% if current_type == 'Dealer' %}active{% endif %}" href="?type=Dealer">Register Dealer</a>
        <a class="tab-link {% if current_type == 'Nursery' %}active{% endif %}" href="?type=Nursery">Register Nursery</a>
    </div>

    <div class="form-body">
        <h2 style="margin-top: 0;">{{ current_type }} Details</h2>
        
        <form method="post">
            {% csrf_token %}

            {% crispy form %}

            <button type="submit" class="btn-submit" style="margin-top: 20px;">Save & Continue</button>
        </form>
    </div>
</div>
{% endblock %}

{% block page_js %}
{% endblock %}
