{% extends "main/base.html" %}
{% load static %}

{% block title %} Update {% endblock %} 

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/update.css' %}" />
{% endblock %}

{% block content %}

<div class="form-container">

    <form class="form-section" method="POST">
        {% csrf_token %}
        <h2>{{ master_object }}</h2>

        <div class="form-controls">
            <button type="button" class="btn" id="edit-button">Edit</button>
            {% if parent_object %}
            <a href="{% url 'update' ct=parent_ct pk=parent_object.pk %}"><button type="button" class="btn">Return to Parent</button></a>
            {% endif %}
            <button type="submit" class="btn" id="save-button">Save Changes</button>
            <button type="button" class="btn" id="cancel-button">Cancel</button>
        </div>

        <fieldset id="master-form-fieldset" disabled>
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
                    {% for error in field.errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </fieldset>
    </form>


    {% for section_name, info in related_sections.items %}
        <div class="child-section datatable-container">
            <h3>{{ section_name }}</h3>
            
            {% if info.add_url %}
            <a href="{% url info.add_url parent_id=master_object.pk %}"><button type=button class="btn">+ADD</button></a>
            {% endif %}

            {% if info.items %}
                <table class="child-table datatable">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Name / Identifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in info.items %}
                            <tr>
                                <td>
                                    <div class="child-table-actions">
                                        <form method="POST" action="{% url 'update' ct=info.model pk=item.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="item_to_delete" value="{{ item.pk }}">
                                            <button type="submit" class="btn" id="delete_btn" name="delete">Remove</button>
                                        </form>

                                        <a class="btn" id="edit_btn" href="{% url 'update' ct=info.model pk=item.pk %}">
                                            Edit
                                        </a>
                                    </div>
                                </td>
                                <td>{{ item }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No {{ section_name }} found for this item.</p>
            {% endif %}
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block page_js %}

<script src="{% static 'js/update/form_edit.js' %}"></script>
<script src="{% static 'js/update/delete_popup.js' %}"></script>

{% endblock %}


