.login {
  background: var(--color-light-gray);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  grid-column: 2 / 3;
}
.login h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.login label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.login input {
  display: block;
  width: 100%;
}
.login-btn {
  margin-top: 1em;
  text-align: center;
}
