.view_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2/3;
  justify-items: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.view_list li {
  grid-column: 2;
  width: 100%;
  display: flex; /* Use flex to control button width */
}

.btn {
  margin: 0.5rem;
  flex: 1; /* Button expands to fill available space */
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  margin-left: 1rem;
}
