{% extends "main/base.html" %} {% load static %} {% block title %} Nursery

<h1>Download SQL Dump</h1>
<!-- <a href="{% url 'dealer_generate' %}" id="dealer-btn" class="btn"
  >Generate Dealer PDFs</a
> -->

<div class="datatable-container">
  <table class="datatable">
    <thead>
      <tr>
        <th>Table</th>
        <th>CSV Download</th>
        <th>Formatted Excel Download</th>
        <th>SQL Dump Download</th>
      </tr>
    </thead>
    <tbody>
      {% for b in businesses %}
      <tr>
        <td>{{ b.business_name }}</td>
        <td>
          <a class="btn" href="{% url 'export_table_csv' 0 %}">
            Download PDF
          </a>
        </td>
        <td>{{ b.mo_city }}</td>
        <td>{{ b.acreage }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No businesses found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
</div>
